/*dzenvikas.com___index.css*/

body{
	font: verdana,arial,helvetica,sans-serif;
	font-weight: normal;
	font-size: 14px;
    background-color: #f7f7f7;
    margin: 0px;
}

div {
	display: block;
}
/*#base_bg{
	

    margin-left: 10%;
    margin-right: 10%;
    border: 1px dotted gray;
    padding: 10px 10px 10px 10px;
}*/

#heading{
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 14px;
	color: #efefef;
	background-color: #efe8e8;

	width: 80%;
    /*width: 1000px;*/
	margin-left: 10%;
	margin-right: 10%;
    height: auto;
	padding-top: 20px;
	padding-bottom: 5px;

    /*
    line-height: 18px;*/
}
#top_bar{
	display: inline-block;
	width: auto;
	padding: 0px 5px;
}

#top_bar.logo{
	width: auto;
	height: auto;
}

#top_bar img{
	width: 40px;
	height: 40px;
	border: 0px;
	margin: 0px;
	padding: 0px 5px;
}

#top_bar.menu{
	padding: 0px;
	margin-left: 150px;
}

.top_bar_ul{
	text-align: left;
	font-weight: normal;
	text-transform: uppercase;
}

.top_bar_li{
	display: inline-block;
	font-weight: bold;
}

.top_bar_li a:link{
	color: #424242;
	text-decoration: none;
}
.top_bar_li a:hover{
	color: #0077ff;
	text-decoration: none;
}

.top_bar_span{
	color: #8c8c8c;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
}

/*hr{
	width: auto;
	display: block;
	margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin: 0.5em 20%;
    border-style: inset;
    border-width: 1px;

}*/

#separator_line{
	background-color: #b7b7b7;
	width: auto;
	height: 5px;
	margin-left: 10%;
	margin-right: 10%;
}